body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 90px 1fr 100px;
    grid-gap: 10px;
    overflow-x: hidden;
}

.header {
    grid-column: 1/6;
    background-color: rgb(88, 143, 243);
    height: 170px;
    padding: 10px;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin-top: -1.7vh;
    margin-left: -1.7vh;
    margin-right: -1.7vh;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h2 {
    grid-column: 2/5;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 143, 243);
    font-size: 22px;
    text-align: center;
    align-items: center;
    text-decoration: underline;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    margin: -64px;
    color: rgb(255, 255, 255);
}

.input-form {
    grid-column: 2/5;
    grid-row: 3;
    margin: -42px;
    align-items: center;
    text-align: center;
}

.btn {
    margin: 13px;
    margin-left: 14px;
    border-radius: 10px;
    background-color: rgb(88, 143, 243);
    border-style: none;
    height: 42px;
    color: white;
    width: 88px;
    font-size: 17px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1
}

.search-bar {
    width: 50vw;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgb(179, 199, 235);
    height: 31px;
    font-size: 17px;
    padding: 4px;
}

#showResults {
    grid-column: 2/5;
    grid-row: 4;
    font-size: 21px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    margin-top: -66px;
}

img {
    margin-top: -26px;
    margin-bottom: -16px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(88, 143, 243);
    color: white;
    text-align: center;
    font-size: 12px;
}

#contentheader {
    color: rgb(88, 143, 243);
    font-size: 28px;
}

#temp {
    color: rgb(252, 105, 38);
}